/* --------------------------------------------------------------------------
   1. CUSTOM PROPERTIES (VARIABLES)
-------------------------------------------------------------------------- */
:root {
    --woocommerce: #720eec;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #720eec;
    --wc-primary-text: #fcfbfe;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #958e09;
    --wc-highlight-text: #ffffff;
    --wc-content-bg: #ffffff;
    --wc-subtext: #767676;
    --wc-form-border-color: rgba(32, 7, 7, 0.8);
    --wc-form-border-radius: 4px;
    --wc-form-border-width: 1px;
}

/* --------------------------------------------------------------------------
   2. GENERAL GLOBAL LAYOUT & CLEARFIX
-------------------------------------------------------------------------- */
.woocommerce img, 
.woocommerce-page img {
    height: auto;
    max-width: 100%;
}

/* Clearfix for float-based layouts */
.woocommerce .col2-set::after, 
.woocommerce .col2-set::before,
.woocommerce ul.products::after, 
.woocommerce ul.products::before,
.woocommerce-page .col2-set::after, 
.woocommerce-page .col2-set::before {
    content: " ";
    display: table;
}

.woocommerce .col2-set::after, 
.woocommerce-page .col2-set::after,
.woocommerce ul.products::after {
    clear: both;
}

/* 2-Column Grid System */
.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%;
}

.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}

/* --------------------------------------------------------------------------
   3. SHOP / PRODUCT ARCHIVE LISTINGS
-------------------------------------------------------------------------- */
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%;
}

/* Column Overrides */
.woocommerce ul.products.columns-1 li.product { width: 100%; margin-right: 0; }
.woocommerce ul.products.columns-2 li.product { width: 48%; }
.woocommerce ul.products.columns-3 li.product { width: 30.75%; }
.woocommerce ul.products.columns-5 li.product { width: 16.95%; }
.woocommerce ul.products.columns-6 li.product { width: 13.5%; }

.woocommerce ul.products li.last { margin-right: 0; }
.woocommerce ul.products li.first { clear: both; }

/* Result Count & Ordering */
.woocommerce .woocommerce-result-count { float: left; }
.woocommerce .woocommerce-ordering { float: right; }

/* --------------------------------------------------------------------------
   4. SINGLE PRODUCT PAGE
-------------------------------------------------------------------------- */
/* Main Images & Summary */
.woocommerce div.product div.images {
    float: left;
    width: 48%;
}

.woocommerce div.product div.summary {
    float: right;
    width: 48%;
    clear: none;
}

/* Gallery Thumbnails */
.woocommerce div.product div.thumbnails a {
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
    margin-bottom: 1em;
}

.woocommerce div.product div.thumbnails a.last { margin-right: 0; }

/* Tabs & Reviews */
.woocommerce div.product .woocommerce-tabs { clear: both; }
.woocommerce div.product .woocommerce-tabs ul.tabs li { display: inline-block; }

.woocommerce div.product #reviews .comment img {
    float: right;
    height: auto;
}

/* --------------------------------------------------------------------------
   5. CART & CHECKOUT
-------------------------------------------------------------------------- */
.woocommerce table.cart td.actions .coupon { float: left; }
.woocommerce table.cart td.actions .input-text { width: 80px; }

.woocommerce .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
}

.woocommerce .cart-collaterals .shipping_calculator {
    float: right;
    width: 48%;
    clear: right;
}

/* Form Rows */
.woocommerce form .form-row label { display: block; }
.woocommerce form .form-row label.checkbox { display: inline; }
.woocommerce form .form-row-first { float: left; width: 47%; }
.woocommerce form .form-row-last { float: right; width: 47%; }
.woocommerce form .form-row-wide { clear: both; }

/* Password Input with Flexbox */
.woocommerce form .password-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.woocommerce form .show-password-input {
    position: absolute;
    right: .7em;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

/* --------------------------------------------------------------------------
   6. MY ACCOUNT
-------------------------------------------------------------------------- */
.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 30%;
}

.woocommerce-account .woocommerce-MyAccount-content {
    float: right;
    width: 68%;
}

/* --------------------------------------------------------------------------
   7. RTL SUPPORT
-------------------------------------------------------------------------- */
.rtl .woocommerce .col2-set .col-1 { float: right; }
.rtl .woocommerce .col2-set .col-2 { float: left; }
