/*
	featured items area (mini-shop on homepage)
*/

.angled_badge,.featured.angled_badge{color:#FFF;position:absolute;right:0;top:0;width:100px;height:100px;text-align:center}

.slide .angled_badge{z-index:600;pointer-events:none}

.featured.angled_badge,.featured.angled_badge:hover{padding:0;background-color:transparent}

.angled_badge:before{content:'';position:absolute;top:0;right:0;width:0;height:0;border-style:solid;border-width:0 100px 100px 0;border-color:rgba(0,0,0,0) #c7081b rgba(0,0,0,0)}

.angled_badge span.smaller,.listing-slider .angled_badge span.smaller{font-size:11px}

.angled_badge span{position:absolute;display:block;font-size:14px;font-weight:600;width:100%;height:100%;line-height:110px;-webkit-transform:rotate(45deg) translate(0, -25%);-moz-transform:rotate(45deg) translate(0, -25%);-ms-transform:rotate(45deg) translate(0, -25%);-o-transform:rotate(45deg) translate(0, -25%);transform:rotate(45deg) translate(0, -25%)}

body .boxed div.inventory.no_price .options-primary{margin-bottom:45px}

.listing-slider{position:relative;border:4px solid #fff;-webkit-box-shadow:1px 1px 5px 0 rgba(204,204,204,0.75);-moz-box-shadow:1px 1px 5px 0 rgba(204,204,204,0.75);box-shadow:1px 1px 5px 0 rgba(204,204,204,0.75);border-radius:3px}

.listing-slider .angled_badge{left:0;z-index:99}

.listing-slider .angled_badge span{font-size:14px;font-weight:600;width:100%;height:100%;line-height:110px;-webkit-transform:rotate(-45deg) translate(0, -25%);-moz-transform:rotate(-45deg) translate(0, -25%);-ms-transform:rotate(-45deg) translate(0, -25%);-o-transform:rotate(-45deg) translate(0, -25%);transform:rotate(-45deg) translate(0, -25%)}

.listing-slider .angled_badge.red:before{border-color:#e10 rgba(0,0,0,0)}

.listing-slider .angled_badge.orange:before{border-color:#f42 rgba(0,0,0,0)}

.listing-slider .angled_badge.yellow:before{border-color:#feae2d rgba(0,0,0,0)}

.listing-slider .angled_badge.green:before{border-color:#69d025 rgba(0,0,0,0)}

.listing-slider .angled_badge.blue:before{border-color:#1163BB rgba(0,0,0,0)}

.listing-slider .angled_badge.indigo:before{border-color:#31b rgba(0,0,0,0)}

.listing-slider .angled_badge.violet:before{border-color:#429 rgba(0,0,0,0)}

.listing-slider .angled_badge.black:before{border-color:#000 rgba(0,0,0,0)}

.listing-slider .angled_badge:before{border-width:100px 100px 0 0;border-color:#c7081b transparent}

.inventory-listing .recent-vehicles-wrap{margin:25px 0 0}

.inventory-listing .recent-vehicles-wrap .recent-vehicles .scroller_title{margin-top:24px}

.inventory-listing .recent-vehicles-wrap .recent-vehicles p{padding-top:2px}

.carfax{margin-right:35px}

.sidebar div.inventory .inventory .title{max-width:580px;white-space:normal}

.boxed div.inventory .options-secondary{display:none}

.boxed div.inventory .options-primary{position:static;border:0;margin:13px auto 0 auto;float:none;width:200px;display:block}

.boxed div.inventory.has-badge .inventory .title{max-width:180px}

.boxed div.inventory .inventory .title{left:11px;white-space:normal;padding-top:7px;margin-bottom:31px;font-size:22px;max-width:220px}

.boxed div.inventory .preview{position:static;float:none;border:1px solid #3d3d3d;width:200px;height:150px;display:block;margin:0 auto}

.boxed div.inventory label{position:absolute;top:3px;right:3px;left:initial}

.boxed div.inventory .carfax{position:absolute;left:28px;width:58px;bottom:53px;top:auto;float:left}

.boxed div.inventory .price{position:relative;margin:3px 0 76px 0;left:131px;float:left;color:#3d3d3d;top:-22px}

.boxed div.inventory.has-tax-label .price{margin:3px 0 55px 0}

.boxed div.inventory .price.custom_message{top:-5px;left:124px;margin-bottom:70px}

.boxed.boxed_left div.inventory .price,.boxed.boxed_right div.inventory .price{left:128px}

.boxed.boxed_left div.inventory .price.price_replacement{left:30px;top:0}

.boxed.boxed_right div.inventory .price.price_replacement{left:30px;top:-5px}

.boxed div.inventory .view-video{position:absolute;left:11px;top:auto;bottom:10px;float:left;clear:right;z-index:5}

.boxed div.inventory .view-details{position:absolute;right:9px;top:auto;bottom:10px;float:right}

.boxed div.inventory .figure{font-weight:600;font-size:30px;top:20px;left:-8px}

.boxed div.inventory .tax{top:19px;left:-8px}

.boxed div.inventory .price b{position:absolute;left:-100px;top:19px}

.boxed div.inventory.has-original-price .figure{top:28px}

.boxed div.inventory.has-original-price .current-price{top:45px}

.boxed div.inventory.has-original-price .carfax{bottom:42px}

.boxed_left div.inventory .price b,.boxed_right div.inventory .price b{left:-99px}

.boxed div.inventory:nth-child(4n){margin-left:0 !important}

.boxed div.inventory .options-primary .spec{max-width:100px}

.boxed .inventory.car_sold .sold_text{margin-top:-110px;left:50%;margin-left:-65px}

body .inventory label{position:absolute;top:3px;right:3px;z-index:4}

.car_listings{width:100%;padding-left:0;padding-right:0}

.car_listings .alert{float:left;width:100%;margin:0 15px}

.car_listings div.inventory{
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.sidebar .inventory .vehicle_overview{max-width:510px}

.inventory-wide-sidebar-right .car_listings.sidebar{margin-left:-15px}

.inventory-wide-sidebar-left>div{padding-right:0}

.inventory-wide-sidebar-left .sidebar.car_listings{padding-left:15px}

.inventory-wide-sidebar-left .left-sidebar{padding-right:15px}

.inventory-wide-sidebar-right div.inventory .carfax,.inventory-wide-sidebar-left div.inventory .carfax{left:449px;top:123px;width:56px}

.inventory-wide-sidebar-right div.inventory.has-badge .price,.inventory-wide-sidebar-left div.inventory.has-badge .price{right:25px}

.inventory-wide-sidebar-right div.inventory .price,.inventory-wide-sidebar-left div.inventory .price{right:15px}

.inventory_box.car_listings.boxed.boxed_full .row .col-lg-3:nth-child(4n+1){clear:both}

div.inventory{border:1px solid #e5e5e5;-moz-border-radius:11px / 13px;-webkit-border-radius:11px / 13px;border-radius:11px / 13px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#fff;-moz-box-shadow:0 0 5px rgba(0,0,0,0.13);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.13);box-shadow:0 0 5px rgba(0,0,0,0.13);background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);background-image:-moz-linear-gradient(bottom, #f9f9f9 0%, #fff 100%);background-image:-o-linear-gradient(bottom, #f9f9f9 0%, #fff 100%);background-image:-webkit-linear-gradient(bottom, #f9f9f9 0%, #fff 100%);background-image:linear-gradient(bottom, #f9f9f9 0%, #fff 100%);margin-bottom:20px;font-family:'Open Sans', sans-serif;position:relative;overflow:hidden;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}

div.inventory .options-primary tr,div.inventory .options-primary td{padding-left:0}

div.inventory .options-primary tr,div.inventory .options-secondary tr{text-align:left}

div.inventory .options-primary tr:hover td,div.inventory .options-secondary tr:hover td{background:transparent}

div.inventory:hover{background-image:-moz-linear-gradient(bottom, #fff 0%, #f9f9f9 100%);background-image:-o-linear-gradient(bottom, #fff 0%, #f9f9f9 100%);background-image:-webkit-linear-gradient(bottom, #fff 0%, #f9f9f9 100%);background-image:linear-gradient(bottom, #fff 0%, #f9f9f9 100%)}

.sidebar div.inventory,.boxed div.inventory{margin:0 0 20px}

.inventory-heading h2,.inventory-heading h2 span{font-size:33px;font-weight:700;margin:0;letter-spacing:-2.5px;line-height:33px}

.inventory-heading span{font-size:22px;line-height:20px;letter-spacing:-1.5px;word-spacing:2px;display:inline-block}

.inventory-heading .text-right em{line-height:51px;letter-spacing:-1px}

.inventory-heading .sold_text{position:absolute;bottom:13px;right:0;padding:0 5px;line-height:50px}

.inventory-heading .sold_text.no_price{bottom:-10px}

a.inventory{display:block;width:100%;height:100%;top:0;left:0;min-height:173px;background-image:url("../images/empty.png");z-index:1;text-decoration:none}

a.inventory .preview{width:200px;height:150px}

a.inventory:hover{text-decoration:none}

.inventory.car_sold img.preview{-webkit-filter:grayscale(100%);filter:grayscale(100%)}

.inventory.car_sold .sold_text{margin-left:45px;left:0}

.inventory.car_sold .sold_text,.inventory-heading .sold_text{-webkit-transform:rotate(-20deg);-moz-transform:rotate(-20deg);-ms-transform:rotate(-20deg);-o-transform:rotate(-20deg);transform:rotate(-20deg);position:absolute;font-size:38px;line-height:52px;border:6px solid #C7081B;color:#C7081B;border-radius:5px;background:rgba(255,255,255,0.75);padding:3px 5px;text-transform:uppercase;font-weight:bold}

.carousel-slider3 .sold_text{-webkit-transform:rotate(-20deg);-moz-transform:rotate(-20deg);-ms-transform:rotate(-20deg);-o-transform:rotate(-20deg);transform:rotate(-20deg);position:absolute;left:38px;top:25%;font-size:26px;line-height:38px;border:6px solid #C7081B;color:#C7081B;border-radius:5px;background:rgba(255,255,255,0.75);padding:3px 5px;text-transform:uppercase;font-weight:bold}

.car-block:hover .carousel-slider3 .sold_text{top:16%}

.preview,.elementor .preview{position:absolute;left:11px;top:11px;float:left;border:1px solid #3d3d3d;width:200px;height:auto;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}

.inventory .title{position:relative;white-space:normal;overflow:hidden;left:234px;padding-top:9px;margin-bottom:8px;max-width:850px;font-size:24px;font-weight:600;color:#3d3d3d;clear:right;padding-bottom:5px;line-height:24px}

.checkbox{position:absolute;top:7px;right:12px}

div.inventory .options-primary{position:relative;left:234px;top:-5px;width:230px;border:0;table-layout:fixed;margin:auto;font-size:12px;display:inline-block;background:rgba(0,0,0,0);text-shadow:none;box-shadow:none}

div.inventory .options-secondary{position:relative;left:245px;top:-5px;width:250px;border:0;table-layout:fixed;margin:auto auto 35px auto;font-size:12px;display:inline-block;background:rgba(0,0,0,0);text-shadow:none;box-shadow:none}

div.inventory .options-secondary tr,div.inventory .options-secondary tr td,div.inventory .options-primary tr td{padding-left:0}

div.inventory .options-primary,div.inventory .options-secondary,div.inventory .options-primary tr td,div.inventory .options-secondary tr td{background:rgba(0,0,0,0)}

.option,div.inventory .price b{font-weight:700;line-height:18px;color:#3d3d3d;font-size:12px}

table td.primary,table .primary,.post-entry table td.primary,.post-entry table .primary{width:90px;white-space:nowrap;padding:0;border:0;padding-right:5px}

table td.secondary,table .secondary,.post-entry table td.secondary,.post-entry table .secondary{width:92px;white-space:nowrap;padding:0;border:0;padding-right:5px}

table td.spec,table .spec,.post-entry table td.spec,.post-entry table .spec{line-height:18px;color:#3d3d3d;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0;border:0;max-width:150px}

div img.carfax{position:absolute;right:initial;border-radius:0;box-shadow:0 0 0 rgba(0,0,0,0);left:815px;top:77px;float:left;border:0}

.price{position:absolute;margin:3px 0 33px 0;right:50px;float:left;color:#3d3d3d;top:46px}

.price b{display:block}

.figure{position:relative;margin:0;font-weight:700;font-size:32px;top:4px;color:#3d3d3d;line-height:30px}

.original_price b{display:block}

.original_price .figure:after{border-bottom:3px solid #2D2D2D;content:"";left:0;position:absolute;right:0;top:50%}

.has-original-price .price{margin-top:0;top:27px}

.has-original-price .figure{font-size:26px;line-height:14px}

.has-original-price .tax{top:-2px}

.tax{position:relative;font-style:italic;top:6px;font-size:12px;padding:0}

.view-button:active{position:relative;top:6px}

.view-video{left:236px;clear:right;padding:6px 9px;cursor:pointer}

.video-icon{position:relative;left:213px;top:18px;float:left;z-index:3}

.view-details{right:10px;padding:6px 4px}

.view-details i,.view-video i,.parallax_scroll .row .view-details i,.parallax_scroll .row .view-video i{margin-right:6px;font-size:12px;line-height:12px;display:inline-block}

.row.parallax_parent{margin-left:0;margin-right:0}

.my-dropdown ul li{display:block;margin-left:0;white-space:nowrap}

.my-dropdown{display:inline-block;margin-right:5px}

.top_buttons.form-links li{float:right}

.select-wrapper ul.top_buttons{padding:0;list-style:none}

.inventory .cargurus-badge{position:absolute;right:200px;left:780px;top:77px}

.inventory .cargurus-badge.badge-style-2{left:812px}

.inventory .cargurus-badge img{border:0}

@media (min-width: 768px){.inventory-wide-sidebar-left .inventory .cargurus-badge,.inventory-wide-sidebar-right .inventory .cargurus-badge{left:465px;top:100px}

}

.boxed .inventory .cargurus-badge{left:28px;width:95px;bottom:30px;top:auto}

.boxed .inventory .cargurus-badge.badge-style-2{width:80px}

@media (max-width: 1199px){.inventory .cargurus-badge{right:145px;left:682px;top:119px}

}

@media (max-width: 991px){.inventory .cargurus-badge{right:150px;left:435px;top:139px}

}

@media (max-width: 767px){.inventory .cargurus-badge{right:130px;left:255px;top:190px}

.boxed .inventory .cargurus-badge{left:auto;bottom:-5px;right:135px}

.inventory-wide-sidebar-left .inventory .cargurus-badge,.inventory-wide-sidebar-right .inventory .cargurus-badge{left:206px;top:193px}

.inventory-wide-sidebar-left .inventory .cargurus-badge.badge-style-2,.inventory-wide-sidebar-right .inventory .cargurus-badge.badge-style-2{left:225px}

}

@media (max-width: 479px){.inventory .cargurus-badge,.inventory-wide-sidebar-left .inventory .cargurus-badge,.inventory-wide-sidebar-right .inventory .cargurus-badge{right:160px;left:49px;top:325px}

.inventory .cargurus-badge.badge-style-2,.inventory-wide-sidebar-left .inventory .cargurus-badge.badge-style-2,.inventory-wide-sidebar-right .inventory .cargurus-badge.badge-style-2{right:185px;left:50px}

.boxed .inventory .cargurus-badge{left:50px;bottom:33px;top:auto}

.boxed .inventory .cargurus-badge.badge-style-2{width:65px}

}

.inventory-heading .cargurus-badge{float:left;margin-left:30px}


