// compileCompressed: ../$1.css
$left: left !default;
$right: right !default;

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .continue-shopping-link {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1170px) {

    .flexslider2:hover a.flex-next {
        #{$right}:0;
    }

    .flexslider2:hover a.flex-prev {
        #{$left}:0;
    }

    .flexslider2 a.flex-next {
        #{$right}:0;
    }

    .flexslider2 a.flex-prev {
        #{$left}:0;
    }

    .select-wrapper {
        height: auto;
    }
}

@media (min-width: 1170px) {

    .boxed_layout .boxed.boxed_left div.inventory .price, .boxed_layout .boxed.boxed_right div.inventory .price {
        #{$left}:114px;
    }

    .boxed_layout .boxed.boxed_full div.inventory .price {
        #{$left}:118px;
    }

    .controls {
        margin: 5px 0 5px 0;
    }

    .form-row {
        width: 240px;
    }

    input[type="text"], textarea, select, div.styled, input[type="file"] {
        width: 108px;
    }

    .slide-text-wrap h2 {
        font-size: 72px;
    }

    .slide-text-wrap h3 {
        font-size: 55px;
    }

    .slide-text-wrap h4 {
        font-size: 30px;
    }

    #secondary-banner {
        margin-top: 0;
        padding-top: 160px;
    }

    .boxed_layout #secondary-banner {
        margin-top: 0;
        padding-top: 160px;
    }

    #secondary-banner .main-heading {
        font-size: 34px;
        padding-#{$left}: 0;
        font-weight: 700;
    }

    #secondary-banner .secondary-heading {
        font-size: 22px;
        padding-#{$left}: 0;
        font-weight: 300;
        letter-spacing: 0.1px;
        margin-top: 13px;
    }


    .shadow {
        background-position: center top;
        background-repeat: repeat-x;
    }

    .video-link {
        float: $left;
        margin-#{$left}: 0;
        font-size: 12px;
        font-weight: 600;
        margin-top: 0;
        text-shadow: 0 1px 0 #fff;
        color: #3a3a3a;
        padding: 4px 8px;
        margin-bottom: 0;
    }

    .video-link i {
        padding-#{$right}: 5px;
    }

    .margin-btm {
        margin-bottom: 0;
    }

    .input-checkbox {
        float: $right;
    }

    .price {
        font-size: 12px;
        display: block;
        text-align: $left;
    }

    .form-links {
        float: $right;
        margin: 0 -12px 0 0;
        padding: 0;
        list-style: none;
    }

    .form-links li {
        float: $left;
        width: auto;
        margin-#{$right}: 8px;
    }

    .top_buttons .form-links li {
        margin-#{$right}: 0;
    }

    .form-links li a {
        color: #3a3a3a;
        font-size: 12px;
        width: auto;
        text-shadow: 0 1px 0 #fff;
        font-weight: 600;
        padding-#{$left}: 8px;
        padding-#{$right}: 8px;
        text-decoration: none;
    }

    .form-links li:nth-child(3), .form-links li:nth-child(3) a {
        width: auto;
        margin: 0 7px 0 0;
    }

    .form-links li:nth-child(1) {
        margin-#{$right}: 0;
    }

    .form-links li:nth-child(1) a {
        margin-#{$right}: 0;
    }

    .ribbon-item {
        clear: none;
        display: block;
    }

    .content h2.error {
        font-size: 260px;
        display: block;
    }

    .error-message em {
        font-size: 100px;
    }

    .footer-contact ul li {
        padding-#{$right}: 0;
    }

    .flip .card .back .hover_title, .card-container .flipping-card .side .hover_title {
        margin-top: 23px;
    }

    .efficiency-rating ul li.fuel {
        margin-#{$left}: -30px;
    }

    .efficiency-rating ul li.fuel img {
        width: initial;
    }

    .boxed_layout .flip, .boxed_layout .flip .card, .boxed_layout .flip .card .face {
        width: 310px;
        height: 168px;
    }

    .boxed_layout .container {
        width: 1100px;
    }

    .blog-content img.featured_image {
        float: $left;
        margin: 7px 25px 10px 0;
    }

    .boxed_layout, .boxed_layout header.affix, .boxed_layout header.affix-top, .boxed_layout .message-shadow {
        width: 85%;
        max-width: 1270px;
    }

    .boxed_layout .container, .boxed_layout section.content .container, .boxed_layout header .bottom-header .container {
        width: 1100px;
    }

    .boxed_layout section.content .container {
        padding: 0 15px;
    }

    .boxed_layout .listing_sort, .boxed_layout .listing-view {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .listing_sort, .listing-view {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .boxed_layout header .toolbar .container, .boxed_layout header .bottom-header .container {
        padding: 0 50px;
    }

    .boxed_layout div.inventory {
        margin: 0 0 20px;
    }

    .boxed_layout .car_listings, .boxed_layout .copyright-wrap .container .row > div {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .boxed_layout footer .container, .boxed_layout .copyright-wrap .container {
        /*padding: 0 35px;*/
        width: 1100px;
    }

    .copyright-wrap .container .row > div, .boxed_layout section.content, .boxed_layout .car-block-wrap, .boxed_layout .car-info-wrap, .boxed_layout .welcome-wrap, .boxed_layout .car-block-wrap .container .row {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .boxed_layout .message-wrap .container {
        width: 1100px;
    }

    .boxed_layout.margin header.affix-top {
        width: 100%;
        margin-top: 40px;
    }

    .boxed_layout.margin {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .select-wrapper span.sort-by {
        margin-#{$right}: 12px;
    }

    .select-wrapper.pagination .row > div:first-of-type {
        text-align: $left;
    }

    .boxed_layout .search-form .find_new_vehicle, .boxed_layout .search-form .reset-search-form {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 568px) {

    .form-element input[type=submit] {
        margin: 10px 0 0 0;
    }

    .woocommerce div.product .woocommerce-tabs .panel {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
        border-#{$left}: 0;
        border-#{$right}: 0;
        border-top: 0;
        padding-top: 0;
        padding-bottom: 20px;
    }

}

@media only screen and (max-width: 1000px) {

    .latest-news {
        clear: both;
    }

    .latest-news .recent_blog_posts {
        padding-#{$left}: 0;
    }
}

@media only screen and (max-width: 680px) {

    p {
        padding-bottom: 10px;
    }

    .bottom-header .navbar-nav {
        float: none !important;
    }

    body header.affix {
        top: -31px;
    }

    body header.affix.no_top_neg {
        top: 0;
    }

    body header.no_header_resize_mobile.affix {
        top: 0;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        background-color: transparent;
        margin-top: 17px;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .banner-wrap {
        margin-top: 0 !important;
    }

    .navbar-collapse {
        border-top: none;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .welcome-wrap h4 {
        margin: 0;
    }

    .footer-contact {
        padding-bottom: 0;
    }

    footer div[class*="col-"] {
        padding-bottom: 25px;
    }

    header .navbar-nav.pull-right > li > .dropdown-menu, header .navbar-nav > li > .dropdown-menu {
        margin-#{$left}: 0 !important;
        background: none !important;
    }

    header .navbar-nav > li > .dropdown-menu > li > a {
        padding: 5px 15px 5px 12px;
    }

    header .navbar-default .navbar-nav > .dropdown > a b.caret, header .navbar-default .navbar-nav .dropdown a b.caret {
        display: inline-block;
    }
}

@media only screen and (max-width: 767px) {

    .title-column {
        min-height: auto;
    }

    header.no_header_resize_mobile.affix .bottom-header .navbar-default .navbar-brand {
        height: 75px;
    }

    header.no_header_resize_mobile.affix .bottom-header .navbar-default .navbar-brand .logo .primary_text {
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 3px;
    }

    header.no_header_resize_mobile.affix .bottom-header .navbar-default .navbar-brand .logo .secondary_text {
        font-size: 12px;
    }

    .mobile_dropdown_menu {
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .fullsize_menu {
        display: none;
    }

    .inventory-wide-sidebar-right .car_listings.sidebar {
        margin-#{$left}: auto;
    }

    .post-entry span.tags {
        text-align: $left;
    }

    .threadauthor {
        padding: 0 10px;
    }

    .navbar-default .navbar-collapse .navbar-nav > li > a {
        padding: 13px 15px 8px 15px;
    }

    header .bottom-header .navbar-nav {
        float: none !important;
        max-height: 400px;
        overflow-y: scroll;
    }

    .boxed_layout.margin header .bottom-header .navbar-nav {
        margin: 0 -15px;
    }

    header .navbar-default .navbar-nav > .dropdown > a b.caret, header .navbar-default .navbar-nav .dropdown a b.caret {
        display: inline-block;
    }

    header .navbar-nav li.dropdown.open:hover > ul.dropdown-menu {
        display: block;
    }

    header .navbar-nav li.dropdown.open:hover > ul.dropdown-menu ul {
        display: none;
    }

    section.banner-wrap {
        margin-top: 0;
    }

    footer .container .row > div {
        padding-bottom: 25px;
    }

    .recent-vehicles-wrap .row > div {
        clear: both;
    }

    .boxed_layout .message-wrap .container .row {
        margin: 0 -15px;
    }
}

@media (min-width: 100px) {

    .flip, .flip .card, .flip .card .face {
        border: 0 solid #0F0;
    }

    .flip .card .back .hover_title, .card-container .flipping-card .side .hover_title {
        margin-top: 20px;
        font-size: 24px;
    }

    .flip .card .face.front {
        position: relative;
    }

    #secondary-banner .main-heading {
        font-size: 28px;
        margin-top: 0;
        padding-top: 0;
    }

    #secondary-banner .secondary-heading {
        font-size: 18px;
    }

    .information_head .deparment {
        text-align: center;
    }

    .hours_operation table.table {
        text-align: center;
        width: 170px;
        margin: 0 auto;
    }

    .form-links li {
        list-style: none;
    }

    .default-btn {
        float: $right;
        clear: both;
        margin-top: 10px;
    }

    .company_info li.address {
        display: none;
    }

    footer.design_2 {
        padding-bottom: 64px;
    }

    .content h2.error {
        font-size: 80px;
        line-height: 40px;
    }

    .error-message em {
        font-size: 40px;
    }

    .testimonials, .latest-news, .featured-brand {
        margin-top: 20px;
    }

    .boxed_layout, .boxed_layout header.affix, .boxed_layout header.affix-top, .boxed_layout .message-shadow {
        width: 100%;
    }

    .listing_sort, .listing-view {
        padding-#{$left}: 15px;
        padding-#{$right}: 15px;
    }

    .boxed_layout .copyright-wrap .container .row > div {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .select-wrapper.pagination .pull-right, .select-wrapper.pagination .row > div:first-of-type {
        text-align: center;
    }

    .listing_sort .sort-by {
        margin-#{$left}: 0;
    }

    .inventory-wide-sidebar-left > div {
        padding-#{$right}: 0;
        padding-#{$left}: 0;
    }

    .select-wrapper span.sort-by {
        margin-#{$right}: 10px;
        float: none;
        vertical-align: top;
    }

    .select-wrapper ul.top_buttons li {
        float: none;
    }

    .car_listings.boxed.boxed_right {
        margin-#{$right}: 0;
        margin-#{$left}: 0;
    }

    .listing_sort, .listing-view {
        padding-#{$right}: 0;
        padding-#{$left}: 0;
    }

    .search-form .find_new_vehicle, .search-form .reset-search-form {
        margin-top: 10px;
    }

    .blog-content img.featured_image {
        display: block;
        float: none;
        margin: 7px auto 10px;
    }

    .toolbar ul li:last-child {
        margin-#{$right}: 0;
    }

    .right-content, .right-content > div, .right-content > div > div {
        clear: both;
    }

    .car-info .table > tbody > tr > td:first-child {
        padding-#{$left}: 0;
    }

    .nav-tabs {
        border: 0;
    }

    #features ul {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    table.left_table, table.right_table {
        width: 98%;
    }
}

@media (min-width: 480px) {

    .left-none, .right-none {
        float: none;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }

    .boxed_layout.margin header .bottom-header .navbar-nav {
        margin-#{$left}: 0;
        margin-#{$right}: 0;
    }

    .toolbar .right-none.pull-right {
        float: $right;
        width: auto;
        clear: none;
        margin: 0 auto;
    }

    header {
        position: fixed;
    }

    h1 a.logo {
        margin-bottom: 20px;
    }

    .message-wrap h2 {
        text-align: center;
    }

    .social {
        margin: 10px 0 0;
    }

    .f-nav {
        width: 100%;
        display: block;
    }

    .slide-text-wrap h4 {
        letter-spacing: 0;
    }

    #secondary-banner {
        margin-top: 0;
        /*padding-top: 164px;*/
    }

    #secondary-banner .main-heading {
        font-size: 28px;
        padding-top: 0;
        margin-top: 0;
    }

    #secondary-banner .secondary-heading {
        font-size: 20px;
    }

    .shadow {
        background-position: $left top;
        background-repeat: repeat-x;
    }

    .align-right {
        float: $left;
        clear: left;
        margin-#{$right}: 10px;
        line-height: 45px;
    }

    .form-links {
        margin: 0 0 20px -5px;
        float: $left;
    }

    .page-view {
        float: $left;
        margin-#{$left}: 0;
        margin-top: 10px;
    }

    .video-link {
        float: $left;
        color: #3a3a3a;
        margin-#{$left}: 0;
    }

    .content h2.error {
        font-size: 80px;
        line-height: 50px;
    }

    .error-message em {
        font-size: 40px;
    }

    .efficiency-rating img.aligncenter {
        #{$left}:12px;
    }

    .footer-contact ul li {
        padding-#{$right}: 0;
    }

    .toolbar .row ul li.address {
        display: block;
    }

    .select_view {
        display: none;
    }

    .flip, .flip .card, .flip .card .face {
        border: none;
    }

    .boxed_layout header .toolbar .container, .boxed_layout header .bottom-header .container {
        padding: 0 15px;
    }

    body header.affix {
        top: -31px;
    }

    body header.no_header_resize_mobile.affix {
        top: 0;
    }

    body header.affix.no_top_neg {
        top: 0;
    }

    .company_info li.address {
        display: inline-block;
    }

    .select-wrapper.pagination .pull-right, .select-wrapper.pagination .row > div:first-of-type {
        text-align: center;
    }

    .listing_sort .sort-by {
        margin-#{$left}: 0;
    }

    .inventory-wide-sidebar-left > div, .boxed_layout .listing_sort, .boxed_layout .listing-view, .listing-view, .listing_sort, .inventory-heading .row > div {
        padding-#{$right}: 0;
        padding-#{$left}: 0;
    }

    .car_listings.boxed.boxed_right {
        margin-#{$left}: 0;
    }

    .flip .card .back .hover_title, .card-container .flipping-card .side .hover_title {
        margin-top: 35px;
    }

    .nav-tabs {
        border-bottom: 1px solid #DDD;
    }

    table.left_table, table.right_table {
        width: 49%;
        float: $left;
    }

    table.right_table {
        float: $right;
    }
}

@media (min-width: 568px) {

    .form-row {
        width: 100%;
    }

    header {
        position: fixed;
    }

    input[type="text"], textarea, select, div.styled, input[type="file"] {
        width: 47.7%;
    }

    #secondary-banner {
        margin-top: -21px;
        padding-top: 164px;
    }

    #secondary-banner .main-heading {
        font-size: 28px;
        padding-top: 0;
        padding-#{$left}: 0;
    }

    #secondary-banner .secondary-heading {
        font-size: 16px;
        padding-#{$left}: 0;
    }

    .shadow {
        background-position: $left top;
        background-repeat: repeat-x;
    }

    .align-right {
        float: $left;
        clear: left;
    }

    .video-link {
        float: $left;
        color: #3a3a3a;
    }

    .form-links {
        margin: 0 0 5px -15px;
        float: $left;
        width: 100%;
        padding-#{$left}: 0;
    }

    .form-links li {
        margin: 0;
        float: $left;
        width: auto;
        list-style: none;
    }

    .form-links li a {
        color: #3a3a3a;
        margin: 0 5px 0 0;
        font-size: 12px;
        width: auto;
        font-weight: 600;
        padding-#{$left}: 8px;
        padding-#{$right}: 8px;
    }

    .content h2.error {
        font-size: 120px;
        line-height: 95px;
    }

    .error-message em {
        font-size: 60px;
    }

    .efficiency-rating img.aligncenter {
        #{$left}:12px;
    }

    .car_listing {
        width: 420px;
    }

    .footer-contact ul li {
        padding-#{$right}: 0;
    }

    .select_view {
        display: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .hours_operation table.table {
        text-align: center;
        display: table;
        margin: 0 auto;
        width: 170px;
    }

    .address_details ul {
        padding-#{$left}: 40px;
    }

    .car-info .table {
        font-size: 14px;
    }

    header.no_header_resize_mobile.affix .bottom-header .navbar-default .navbar-brand {
        padding: 11px 0 0 15px;
    }

    .inner-page.about-us .testimonials {
        margin-bottom: 0;
    }

    .testimonials, .latest-news, .featured-brand {
        margin-top: 0;
    }

    .boxed_layout section.content {
        padding-#{$left}: 15px;
        padding-#{$right}: 15px;
    }

    .toolbar ul li:last-child {
        margin-#{$right}: 0;
    }

    #features ul {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (max-width: 480px) {
    .choose-list ul li {
        font-size: 13px;
    }

    .video-link {
        padding-#{$right}: 0;
    }

    .banner-wrap {
        margin-top: 0;
    }

    #slideControls {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 320px) {

    .pricing_wrapper h3 {
        font-size: 24px;
    }

    .layout-3 .main_pricing .inside span.amt, .layout-4 .main_pricing .inside span.amt {
        font-size: 63px;
        line-height: 63px;
    }

    .layout-3 .main_pricing .inside span.sub1, .layout-4 .main_pricing .inside span.sub1 {
        font-size: 22px;
        top: -31px;
    }

    .layout-3 .main_pricing .inside span.sub, .layout-4 .main_pricing .inside span.sub {
        font-size: 24px;
        top: 0;
        #{$left}:-36px;
    }

    .layout-3 .main_pricing .inside span.super, .layout-4 .main_pricing .inside span.super {
        font-size: 22px;
        top: -18px;
    }

    .layout-3 .main_pricing .inside span.slash, .layout-4 .main_pricing .inside span.slash {
        top: -14px;
    }

    .about-us h3, .blog-container h3, .blog-post h3, .side-content h3, .services h3 {
        font-size: 15px;
    }

    .featured-brand .arrow2 {
        top: 23px;
    }
}

@media only screen and (max-width: 1025px) {

    .boxed_layout.margin {
        margin: 0;
    }

    .boxed_layout.margin header.affix-top {
        margin-top: 0;
    }

    .layout-4 .inside {
        position: static;
    }

    .financing_calculator {
        margin-#{$left}: 0;
        float: $left;
    }

    .car-type .col-width-50 {
        width: 100%;
        padding: 0;
    }

    .form-element input[type=submit] {
        margin-top: 10px;
    }

    .boxed div.inventory .view-video {
        position: absolute;
        #{$left}:11px;
        top: auto;
        bottom: 10px;
        float: $left;
        clear: right;
        z-index: 5;
        #{$right}:initial;
    }

    .boxed div.inventory .view-details {
        position: absolute;
        #{$right}:11px;
        top: auto;
        bottom: 10px;
        float: $right;
        display: block;
    }
}

@media only screen and (max-width: 800px) {

    .select-wrapper .link-vehicle .form-links {
        margin-top: 10px;
        padding: 0;
    }

    .select-wrapper .link-vehicle {
        width: 100%;
    }

    .select-wrapper .col-dropdown {
        width: 50%;
    }

    .inner-page.row {
        margin-top: 70px;
        margin-bottom: /* 4 */ 70px;
    }

    .video_details.clearfix a {
        font-size: 12px;
    }

    .layout-4 .main_pricing .inside span.sub {
        top: 0;
        #{$left}:-36px;
    }

    .blog-content ul li a {
        font-size: 12px;
    }

    .leave-comments form input[type=text] {
        width: 100%;
        margin-#{$left}: 0;
    }

    header.no_header_resize_mobile.affix .bottom-header .navbar-default .navbar-nav > li > a {
        padding: 4px 11px !important;
        line-height: 31px;
        font-size: 14px;
    }

    .copyright-wrap .social {
        padding-top: 18px;
    }

    .copyright-wrap .social, .copyright-wrap .f-nav {
        float: none;
    }

    .copyright-wrap .f-nav li:first-of-type {
        margin-#{$left}: 0;
    }

    footer form input[type=text] {
        padding: 4px 5px !important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .inventory .title {
        max-width: 700px;
        white-space: normal;
    }

    div .carfax {
        #{$left}:705px;
        top: 124px;
    }

    .boxed_layout div .carfax {
        #{$left}:725px;
        top: 120px;
    }

    .inventory .price {
        #{$right}:25px;
        top: 30px;
    }

    .boxed div.inventory .price {
        #{$left}:146px;
    }

    .boxed.boxed_left div.inventory .price, .boxed.boxed_right div.inventory .price {
        #{$left}:163px;
    }

    .inventory-wide-sidebar-right div.inventory .options-secondary, .inventory-wide-sidebar-left div.inventory .options-secondary {
        display: none;
    }

    .inventory-wide-sidebar-right .sidebar div.inventory .title, .inventory-wide-sidebar-left .sidebar div.inventory .title {
        max-width: 440px;
    }

    .inventory-wide-sidebar-right div.inventory .carfax, .inventory-wide-sidebar-left div.inventory .carfax {
        #{$left}:479px;
        top: 120px;
        width: auto;
    }

    div.inventory .options-primary {
        margin-bottom: 35px;
    }

    .boxed div.inventory .inventory .title {
        max-width: 275px;
    }

    .boxed div.inventory .inventory .price {
        #{$left}:164px;
    }

    .boxed.boxed_full div.inventory .inventory .price {
        #{$left}:147px;
    }

    .boxed.boxed_full div.inventory .inventory .title {
        max-width: 240px;
    }

    body .inventory_box.car_listings.boxed.boxed_full .col-md-4:nth-child(3n + 1) {
        clear: both;
    }
}

@media (min-width: 768px) {

    .left-none {
        float: $left;
        width: auto;
        clear: none;
        margin: 0 auto;
    }

    .right-none {
        float: $right;
        width: auto;
        clear: none;
        margin: 0 auto;
    }

    h1 a.logo {
        margin: 10px 40%;
    }

    header {
        position: fixed;
    }

    .f-nav {
        float: $right;
        width: auto;
        margin: 14px 0 0 0;
        display: block;
    }

    .slide-text-wrap h4 {
        letter-spacing: 0;
    }

    #secondary-banner {
        margin-top: 0;
        padding-top: 167px;

        .main-heading {
            font-size: 26px;
            padding-top: 0;
            padding-#{$left}: 0;
        }

        .secondary-heading {
            font-size: 17px;
            padding-#{$left}: 0;
        }
    }

    .shadow {
        background-position: center top;
        background-repeat: repeat-x;
    }

    .align-right {
        float: $left;
        clear: right;
    }

    .page-view {
        float: $right;
        margin-#{$right}: 0;
        margin-top: 10px;
    }

    .price {
        font-size: 12px;
        display: block;
        text-align: $left;
    }

    .video-link {
        float: $left;
        color: #3a3a3a;
    }

    .form-links {
        float: $right;
    }

    .content h2.error {
        font-size: 180px;
        line-height: 150px;
    }

    .content h2.error i.exclamation {
        line-height: 155px;
    }

    .error-message em {
        font-size: 80px;
    }

    .content .error-message .exclamation {
        margin-#{$right}: 40px;
        line-height: 230px;
    }

    .car_listing {
        width: inherit;
    }

    .footer-contact ul li {
        padding-#{$right}: 0;
    }

    .select_view {
        display: block;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu > li > a {
        text-indent: 0;
    }

    header.affix .bottom-header, header.affix-top .bottom-header {
        height: initial;
    }

    .flip {
        height: 124px;
    }

    .hours_table {
        text-align: center;
    }

    .hours_operation {
        clear: both;
    }

    .flip .card .back .hover_title, .card-container .flipping-card .side .hover_title {
        margin-top: 10px;
        margin-bottom: -5px;
        font-size: 24px;
    }

    .car-block-wrap .container .row > div {
        text-align: $left;
    }

    .services .things_to_consider {
        margin-top: 0;
    }

    .inventory-heading .text-right h2 {
        font-size: 33px;
        font-weight: 700;
        margin: 0;
        letter-spacing: -2.5px;
        line-height: 33px;
    }

    .form-links.top_buttons {
        margin: 0 0 0 0;
    }

    .inner-page.about-us .right-container, .inner-page.about-us .featured-brand, .inner-page.about-us .latest-news, .inner-page.about-us .testimonials {
        margin-top: 0;
    }

    .side-content .car-info .table-responsive {
        padding-top: 5px;
    }

    .efficiency-rating ul li.fuel {
        margin-#{$left}: -21px;
    }

    .efficiency-rating ul li.fuel img {
        width: 42px;
        top: 16px;
    }

    footer .container .row .col-md-3:nth-of-type(3n) {
        clear: both;
    }

    header.affix .bottom-header .navbar-default .navbar-brand {
        padding: 10px 0 0 16px;
    }

    .boxed_layout header.affix .bottom-header .navbar-default .navbar-brand {
        padding: 8px 0 0 16px;
    }

    .inner-page.about-us .latest-news {
        margin: 35px 0;
    }

    .listing_sort, .listing-view {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .copyright-wrap .container .row > div {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .inventory-wide-sidebar-left > div {
        padding-#{$right}: 0;
        padding-#{$left}: 0;
    }

    .pagination_select .row > div.pull-right {
        padding-#{$right}: 15px;
    }

    .boxed_layout .recent-vehicles-wrap .row, .welcome-wrap .recent-vehicles-wrap .row {
        margin-#{$left}: 0;
        margin-#{$right}: 0;
    }

    .select-wrapper ul.top_buttons li {
        float: $right;
    }

    .select-wrapper.pagination .row > div:first-of-type {
        text-align: $left;
    }

    .car_listings.boxed.boxed_right .inventory_box {
        margin-#{$left}: -15px;
    }

    .right-content, .right-content > div, .right-content > div > div {
        clear: inherit;
    }

    .car-info .table > tbody > tr > td:first-child {
        padding-#{$left}: 8px;
    }
}

@media only screen and (max-width: 991px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        width: 29.05%;/*30.05%;*/
        clear: none;
    }

    .woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last {
        margin-#{$right}: 3.74%;
    }

    .woocommerce ul.products li.product:nth-of-type(3n+1) {
        clear: both;
    }

    .woocommerce .related.products ul.products li.product {
        width: 21%;
    }

    .woocommerce .related.products ul.products li.product:nth-of-type(3n+1){
        clear: none;
    }

    .woocommerce .related.products ul.products li.product:nth-of-type(4n+1){
        clear: both;
    }

    .breadcrumb {
      margin-left: 0;
      padding-top: 0;
    }

    #secondary-banner .secondary-heading {
      margin-bottom: 0;
    }

    .title-column {
      min-height: 85px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1159px) {
    .layout-3 .inside, .layout-4 .inside {
        #{$left}:8px;
    }

    .recent_car.car-block .img-flex {
        width: 45px;
    }

    .recent_car.car-block:hover .img-flex i {
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        margin-top: -10.5px;
        #{$left}:50%;
        margin-#{$left}: -8.5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .car_listings {
        width: 762px;
        margin: 0 auto;
        padding-#{$right}: 0;
    }

    .boxed_layout .car_listings {
        width: 740px;
    }

    div.inventory .inventory {
        min-height: 195px;
    }

    .sidebar div.inventory .inventory .title, div.inventory .inventory .title {
        max-width: 450px;
        white-space: normal;
        padding-bottom: 3px;
        #{$left}:229px;
    }

    div.inventory .checkbox {
        #{$right}:12px;
    }

    div.inventory .price {
        position: absolute;
        #{$left}:initial;
        top: 57px;
        #{$right}:20px;
    }

    .boxed div.inventory .price, .boxed.boxed_left div.inventory .price, .boxed.boxed_right div.inventory .price {
        #{$left}:165px;
    }

    div.inventory .video-icon {
        top: 18px;
        #{$right}:14px;
    }

    div.inventory .options-primary {
        #{$left}:229px;
        top: -2px;
    }

    .boxed div.inventory .options-primary {
        width: 198px;
    }

    div.inventory .inventory .title {
        white-space: normal;
        max-width: 420px;
        #{$left}:230px;
    }

    div.inventory .options-secondary {
        display: none;
    }

    .car_listings div.inventory .carfax {
        #{$left}:440px;
        top: 133px;
        width: 75px;
    }

    .inventory_listings.grid div.inventory .title {
        max-width: 200px;
        font-size: 20px;
        margin-bottom: 27px;
    }

    .inventory_listings.grid div.inventory .checkbox {
        top: 7px;
        #{$left}:217px;
    }

    .inventory_listings.grid div.inventory .options-primary {
        width: 180px;
        margin: 8px auto 0 auto;
    }

    .inventory_listings.grid div.inventory .price {
        #{$left}:77px;
        top: -21px;
    }

    .inventory_listings.grid div.inventory .figure, .inventory_listings.grid div.inventory .tax {
        #{$left}:-8px;
    }

    .inventory_listings.grid div.inventory .carfax {
        #{$left}:32px;
        width: 50px;
        bottom: 24px;
    }

    .inventory_listings.grid div.inventory .view-details, .inventory_listings.grid div.inventory .view-video, .inventory_listings div.inventory .view-details, .inventory_listings div.inventory .view-video {
        position: absolute;
        top: auto;
        bottom: 10px;
    }

    .boxed div.inventory .carfax {
        #{$left}:40px;
        bottom: 42px;
        top: auto;
        bottom: 42px;
    }

    .boxed div.inventory .inventory .price {
        #{$left}:169px;
    }

    .boxed div.inventory .inventory .title {
        max-width: 275px;
    }

    .boxed.boxed_full div.inventory .inventory .price {
        #{$left}:169px;
    }

    .select-wrapper ul.top_buttons li {
        margin-bottom: 5px;
    }

    .select-wrapper span.sort-by {
        margin-#{$right}: 10px;
    }

    .select_view .align-right {
        font-size: 13px;
    }

    .pagination_select .row > div {
        padding: 0;
    }

    .inventory_pagination {
        margin: 0 0 25px;
    }

    .car_listings.boxed.boxed_full {
        margin-#{$left}: -15px;
        margin-#{$right}: 0;
    }

    .detail-service div[class*="col-"]:nth-child(5n + 1) {
        clear: both;
    }
}

@media (min-width: 992px) {

    .nav {
        margin: 0;
    }

    .left-none {
        float: $left;
        width: auto;
        clear: none;
        margin: 0 auto;
    }

    .right-none {
        float: $right;
        width: auto;
        clear: none;
        margin: 0 auto;
    }

    h1 a.logo {
        margin: -2px 0;
    }

    .navbar-collapse {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .navbar {
        margin: 0;
    }

    .default-btn {
        float: $left;
        margin: 0;
    }

    .social {
        float: $right;
        margin: 32px 0 0 0;
        padding: 0;
    }

    .slide-text-wrap h4 {
        letter-spacing: 0;
    }

    #secondary-banner {
        margin-top: 0;
        padding-top: 160px;
    }

    #secondary-banner .main-heading {
        font-size: 34px;
        padding-#{$left}: 0;
        margin-top: 20px;
    }

    #secondary-banner .secondary-heading {
        font-size: 22px;
        padding-#{$left}: 0;
    }

    .shadow {
        background-position: center top;
        background-repeat: repeat-x;
    }

    .form-links {
        float: $right;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .form-links li {
        float: $right;
        width: auto;
    }

    .form-links li a {
        color: #3a3a3a;
        font-size: 12px;
        width: auto;
        font-weight: 600;
        padding-#{$left}: 8px;
        padding-#{$right}: 8px;
    }

    .video-link {
        float: $left;
        color: #3a3a3a;
    }

    .content h2.error {
        font-size: 260px;
        line-height: 250px;
    }

    .error-message em {
        font-size: 100px;
    }

    .select-form .max-dropdown {
        width: 225px;
    }

    .address_details ul {
        padding-#{$left}: 0;
    }

    .car-type .col-width-60 {
        display: none;
    }

    .footer-contact ul li {
        padding-#{$right}: 0;
    }

    header .left_bar {
        display: block;
    }

    .flip {
        height: 200px;
    }

    .hours_operation {
        clear: none;
    }

    .hours_operation table.table {
        text-align: initial;
        width: 100%;
    }

    .price-ascending-dropdown {
        width: auto;
    }

    .about_team ul li {
        line-height: 34px;
    }

    .about_team ul li i {
        top: 6px;
    }

    .about_team ul li i.fa-mobile {
        top: 6px;
    }

    .about_team ul li i.fa-envelope-o {
        top: 11px;
    }

    .inventory-heading .text-right h2 {
        font-size: 33px;
    }

    .inventory-heading .text-right em {
        font-size: 14px;
    }

    .efficiency-rating ul li.fuel {
        margin-#{$left}: -25.5px;
    }

    .efficiency-rating ul li.fuel img {
        width: 51px;
        top: 13px;
    }

    .side-content .car-info .table-responsive {
        padding-top: 0;
    }

    .car-info .table {
        font-size: 14px;
    }

    footer .container .row .col-md-3:nth-of-type(3n) {
        clear: none;
    }

    header.affix .bottom-header .navbar-default .navbar-brand {
        padding: 10px 0 0 0;
    }

    .inner-page.about-us .latest-news {
        margin: 0;
    }

    .blog-content img.featured_image {
        display: block;
        float: none;
        margin: 7px auto 10px;
    }

    .boxed_layout div.inventory {
        margin: 0 0 20px;
    }

    .copyright-wrap .container .row > div {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .boxed_layout section.content {
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .select-wrapper span.sort-by {
        margin-#{$right}: 10px;
    }

    .boxed_layout .container {
        padding-#{$left}: 15px;
        padding-#{$right}: 15px;
    }

    .select-wrapper ul.top_buttons li {
        margin-bottom: 5px;
        margin-#{$right}: 0;
    }

    .select-wrapper.pagination .row > div:first-of-type {
        text-align: $left;
    }

    .car_listings.boxed.boxed_right {
        margin-#{$left}: -15px;
        margin-#{$right}: 15px;
    }

    .select_view .align-right {
        vertical-align: top;
    }

    .select_view {
        text-align: $right;
    }

    .select_view .page-view.nav {
        display: inline-block;
    }

    .car_listings.boxed.boxed_right .inventory_box {
        margin-#{$left}: 0;
    }

    .flip .card .back .hover_title, .card-container .flipping-card .side .hover_title {
        margin-top: 25px;
        margin-bottom: -5px;
        font-size: 24px;
    }

    .inventory-wide-sidebar-right .car_listings.sidebar {
        margin-#{$left}: auto;
    }
}

@media (min-width: 1200px) {

    .flip .card .back .hover_title, .card-container .flipping-card .side .hover_title {
        margin-top: 40px;
        margin-bottom: 14px;
        font-size: 38px;
    }

    .search-form .find_new_vehicle, .search-form .reset-search-form {
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {

    .car_listings {
        width: 455px;
        margin: 0 auto;
        padding-#{$left}: 0;
        padding-#{$right}: 0;
    }

    .boxed_layout .car_listings {
        width: 455px;
    }

    div.inventory .preview, .boxed div.inventory .preview {
        position: relative;
        margin-bottom: 60px;
        float: $left;
        top: 7px;
    }

    .sidebar div.inventory .inventory .title, div.inventory .inventory .title, .boxed div.inventory .inventory .title {
        #{$left}:11px;
        max-width: 335px;
        margin-bottom: 3px;
        word-break: break-word;
        white-space: normal;
    }

    div.inventory .checkbox {
        #{$right}:12px;
    }

    div.inventory .options-primary, .boxed div.inventory .options-primary {
        #{$left}:24px;
        top: 3px;
        width: 185px;
        margin: 0;
        position: relative;
    }

    div.inventory .options-secondary {
        display: none;
    }

    .car_listings div.inventory .carfax {
        #{$right}:95px;
        bottom: 13px;
        #{$left}:auto;
        width: 59px;
        top: auto;
        position: absolute;
    }

    .boxed div.inventory .options-primary {
        display: inline-block;
    }

    div.inventory .tax, .boxed div.inventory .tax {
        #{$left}:85px;
        top: -22px;
    }

    div.inventory .video-icon {
        #{$left}:-5px;
        top: 0;
    }

    div.inventory .view-details {
        bottom: 13px;
        top: auto;
    }

    .view-button:active {
        top: -12px;
    }

    .boxed div.inventory .price b {
        position: relative;
        #{$left}:auto;
        top: auto;
    }

    .car_listings.boxed.boxed_full div.col-lg-3 {
        padding: 0;
    }

    .post-tags {
        padding: 0;
        margin-top: 10px;
    }

    .blog-content ul li {
        margin-bottom: 5px;
    }

    .address_details ul {
        padding-#{$left}: 0;
    }

    .car_listings.boxed.boxed_full {
        margin: 0 auto;
    }

    .top_buttons li {
        display: inline-block;
    }

    .select-wrapper ul.top_buttons {
        padding: 0;
        text-align: center;
        margin: 10px auto;
        float: none;
        /*height: 25px;*/
        display: inline-block;
    }

    .select-wrapper span.sort-by {
        margin-#{$right}: 10px;
    }

    .price-ascending-dropdown {
        text-align: $left;
    }

    .select-wrapper span.sort-by {
        float: none;
        vertical-align: top;
    }

    .pagination_select .row > div:first-of-type {
        text-align: center;
    }

    .things_to_consider h3 {
        margin-top: 35px;
    }

    .featured-brand {
        margin-top: 0;
    }

    .featured-service {
        padding: 22px 0 10px 0;
    }

    .detail-service {
        padding: 0 0 20px 0;
    }

    .find_team .row .team {
        margin-bottom: 35px;
    }

    .inventory_pagination {
        margin: 0 0 25px;
    }

    .car_listings.boxed {
        margin-#{$left}: 0;
        margin-#{$right}: 0;
    }
}

@media only screen and (max-width: 479px) {

    .car_listings {
        width: 330px;
        margin: 0 auto;
        padding: 0;
    }

    /* listing */
    div.inventory .preview {
        position: relative;
        margin: 0 auto;
        #{$left}:49px;
        top: 0;
        float: none;
    }

    div.inventory .inventory .title, .sidebar div.inventory .inventory .title {
        #{$left}:11px;
        max-width: 260px;
        word-break: break-word;
        white-space: normal;
    }

    div.inventory .checkbox {
        #{$right}:12px;
    }

    .boxed.boxed_left div.inventory .price, .boxed.boxed_right div.inventory .price {
        #{$left}:49px;
    }

    div.inventory .options-secondary {
        display: none;
    }

    .car_listings div.inventory .price.custom_message {
        #{$left}:138px;
        font-size: 12px;
    }

    .car_listings div.inventory .carfax {
        position: absolute;
        #{$left}:50px;
        bottom: 42px;
        width: 58px;
        top: auto;
    }

    div.inventory .figure {
        #{$left}:89px;
        top: -20px;
        font-weight: 600;
        font-size: 30px;
    }

    div.inventory .tax {
        #{$left}:90px;
        top: -25px;
    }

    div.inventory .view-video {
        #{$left}:11px;
        bottom: 10px;
        top: auto;
        font-size: 12px;
        position: absolute;
    }

    div.inventory .video-icon {
        #{$left}:-5px;
        top: -20px;
    }

    div.inventory .view-details {
        bottom: 10px;
        font-size: 12px;
        top: auto;
    }

    .boxed.car_listings, .boxed.car_listings .col-xs-12 {
        padding: 0;
    }

    .boxed.car_listings div.inventory .inventory .price {
        #{$left}:147px;
        #{$right}:initial;
        bottom: initial;
        top: -22px;
    }

    .boxed.car_listings div.inventory .inventory .figure {
        #{$left}:-10px;
    }

    .boxed.car_listings div.inventory .inventory .tax {
        #{$left}:-9px;
    }

    .select-wrapper ul.top_buttons {
        margin: 10px 0;
    }

    .select-wrapper ul.top_buttons li {
        display: inline-block;
        margin-bottom: 5px;
    }

    .select-wrapper ul.top_buttons li a {
        float: none;
        display: inline-block;
    }

    .select_view {
        display: none;
    }

    .things_to_consider h3 {
        margin-top: 35px;
    }

    .featured-brand {
        margin-top: 0;
    }

    .detail-service {
        padding: 0 0 20px 15px;
    }

    .post-tags {
        padding: 0;
        margin-top: 10px;
    }

    .blog-content ul li {
        margin-bottom: 5px;
    }

    .address_details ul {
        padding-#{$left}: 0;
    }

    .inventory_pagination {
        margin: 0 0 25px;
    }

    .car_listings.boxed.boxed_full {
        margin: 0 auto;
    }

/*    .car_listings.boxed {
        margin-#{$left}: 0;
        margin-#{$right}: 0;
    }*/

    .parallax_scroll h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px) {

    /*typo*/
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    /*typo*/
    body {
        overflow-x: hidden;
    }

    h1 a.logo {
        margin-bottom: 20px;
    }

    .left-none, .right-none {
        float: none;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }

    header {
        position: absolute;
    }

    #secondary-banner {
        margin-top: -21px;
        padding-top: 164px;
    }

    .slide-text-wrap h2 {
        font-size: 40px;
    }

    .slide-text-wrap h3 {
        font-size: 30px;
    }

    .slide-text-wrap h4 {
        font-size: 20px;
    }

    .default-btn {
        float: none;
        display: block;
        clear: both;
        margin-top: 10px;
    }

    .message-wrap h2 {
        text-align: center;
    }

    .f-nav li {
        float: none;
        display: inline;
        text-align: center;
    }

    .social li:nth-child(5n) {
        clear: right;
    }

    .border-box {
        width: 100%;
    }

    .form-row {
        width: 100%;
    }

    input[type="text"], textarea, select, div.styled, input[type="file"] {
        width: 45%;
    }

    #secondary-banner .main-heading {
        font-size: 28px;
        padding-top: 0;
        padding-#{$left}: 0;
        margin-top: 0;
    }

    #secondary-banner .secondary-heading {
        font-size: 16px;
        padding-#{$left}: 0;
        /*margin-bottom: 2px;*/
    }

    /*.breadcrumb {*/
        /*float: $left;*/
        /*margin: 0;*/
    /*}*/

    .shadow {
        background-position: $left top;
        background-repeat: repeat-x;
    }

    .ribbon {
        margin-#{$right}: 25px;
    }

    .ribbon strong {
        font-weight: 600;
    }

    .ribbon-item {
        display: block;
    }

    .page-view {
        float: $right;
        margin-#{$left}: 0;
    }

    .form-selectbox label {
        #{$left}:-28px;
    }

    .form-links {
        float: $left;
        width: 100%;
        padding-#{$left}: 0;
        margin-bottom: 10px;
    }

    .form-links li {
        display: block;
        width: 100%;
        margin-bottom: 8px;
    }

    .form-links li a {
        text-align: center;
        display: block;
        width: 100%;
        color: #3a3a3a;
        font-size: 12px;
        line-height: 26px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .video-link {
        padding-#{$left}: 10px;
        padding-#{$right}: 10px;
        margin-bottom: 10px;
        color: #3a3a3a;
    }

    .content h2.error {
        font-size: 40px;
    }

    .error-message em {
        font-size: 30px;
    }

    .content .error-message .exclamation {
        margin-#{$right}: 20px;
    }

    .efficiency-rating img.aligncenter {
        #{$left}:12px;
    }

    .footer-contact ul li {
        padding-#{$right}: 0;
    }

    header .left_bar {
        display: none;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu {
        background: none;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu > li > a {
        text-indent: 20px;
    }

    .toolbar .right-none.pull-right {
        float: $right;
        width: auto;
        clear: none;
        margin: 0 auto;
    }

    .car-block-wrap .container .row > div {
        margin: 0 auto 50px;
        text-align: center;
    }

    .car-block-wrap .container .row .flip {
        margin: 0 auto;
    }

    .toolbar .row ul li.address {
        display: none;
    }

    .select_view {
        display: none;
    }

    .content .error-message {
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .address_details ul {
        padding-#{$left}: 0;
    }

    .services .things_to_consider {
        margin-top: 30px;
    }

    .about_team ul li {
        line-height: 24px;
    }

    .about_team ul li i {
        top: 6px;
    }

    .about_team ul li i.fa-mobile {
        top: 5px;
    }

    .about_team ul li i.fa-envelope-o {
        top: 6px;
    }

    .form-links.top_buttons {
        margin: 15px 0;
    }

    .inner-page.about-us .right-container, .inner-page.about-us .featured-brand, .inner-page.about-us .latest-news, .inner-page.about-us .testimonials {
        margin-top: 40px;
    }

    .side-content .car-info .table-responsive {
        padding-top: 5px;
    }
}

@media (min-width: 768px) {
    .copyright-wrap .social, .copyright-wrap .f-nav {
        float: $right;
    }

    header .hide_desktop .social {
      display: none;
    }
}

@media (max-width: 768px) {
    .fullwidth_element .parallax_parent .vc_row {
        margin-#{$right}: 0;
        margin-#{$left}: 0;
    }

    header .container .navbar-default .container-fluid {
        padding: 0 15px;
    }

    header .navbar-nav li.dropdown .dropdown-menu li.dropdown .dropdown-menu {
        left: 0;
    }

    .woocommerce .woocommerce-message .wc-forward {
        display: block;
        margin-top: 4px;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu {
      right: initial;
    }

    .woocommerce-message div .product_title {
        padding-top: 8px;
    }

    .woocommerce .related ul li.product, .woocommerce .related ul.products li.product,
    .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product {
        width: 47%;
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product, .woocommerce .woocommerce-regular ul.products li.product, .woocommerce-page .woocommerce-regular ul.products li.product {
        width: 46%;
    }

    .single-product .product .summary.entry-summary {
        padding-#{$right}: 15px;
        padding-#{$left}: 15px;
    }

    footer .text-widget {
        margin-#{$right}: 15px;
    }

    .woocommerce-message, .single-product .woocommerce-message {
        position: relative;
        top: initial;
        left: initial;
        #{$right}:0;
        bottom: initial;
        margin: 0 auto;
        max-width: 100%;
    }

    .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: rgba(0, 0, 0, 0);
    }

    .woocommerce table.shop_table tr.woocommerce-cart-form__cart-item:first-of-type td {
        padding-top: 20px;
    }

    .woocommerce-cart .woocommerce table.shop_table td, .woocommerce-cart .woocommerce table.shop_table td.product-name, .woocommerce table.shop_table tr.woocommerce-cart-form__cart-item td.product-remove {
        padding-#{$left}: 20px;
        padding-#{$right}: 20px;
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        clear: none;
    }

    .woocommerce ul.products li.product:nth-of-type(1n+1) {
        clear: both;
        margin-#{$right}: 0;
    }

    .woocommerce .related.products ul.products li.product {
        width: 47%;
    }

    .woocommerce .woocommerce-regular div.product div.images.woocommerce-product-gallery {
        padding: 0 15px;
    }

    .woocommerce .woocommerce-regular span.onsale {
        #{$right}:22px;
    }

    .woocommerce .woocommerce-regular div.product div.images .woocommerce-product-gallery__trigger {
        #{$right}:24px;
    }

    header {
      .social {
        display: none;
      }

      .toolbar ul li {
        display: none;

        &.li_mobile_show {
          display: block;
        }
      }

      .li_mobile_show {
        .social {
          display: block;
        }
      }
    }
}

@media screen and (max-width: 468px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product, .woocommerce .woocommerce-regular ul.products li.product, .woocommerce-page .woocommerce-regular ul.products li.product {
        width: 100%;
    }

    .woocommerce .related.products ul.products li.product {
        width: 100%;
        float: none;
    }

    .woocommerce .related.products ul.products li.product:nth-of-type(4n+1) {
        clear: none;
    }
}

@media screen and (max-width: 400px) {

    input[type="text"], textarea, select, div.styled, div.custom-select {
        width: 100%
    }
}

@media screen and (max-width: 600px){
    .woocommerce .woocommerce-ordering {
        padding-top: 30px;
    }
}

@media screen and (max-width: 1199px){
    .related ul.products li.product_style_1 a.button {
        font-size: 15px;
    }
}






@media (min-width:1200px){
    body header .bottom-header .navbar-default .navbar-nav>li>a {
        padding: 38px 15px 20px;
    }
}

@media (max-width: 991px) {
    body header .bottom-header .navbar-default .navbar-nav>li>a,
    header.affix .container .navbar .navbar-nav li a {
        font-size: 10px;
        padding: 38px 6px 20px;
    }

    header .bottom-header .navbar-default .navbar-brand .logo .primary_text, .no_footer .logo-footer a h2, .logo-footer a h2 {
        font-size: 24px;
    }
}

@media (min-width: 992px){
    body header .bottom-header .navbar-default .navbar-nav>li>a {
        padding: 29px 12px 29px;
    }
}

@media (min-width: 768px) {
    .navbar-toggler-icon {
        display: none;
    }
}

@media (max-width:767px) {
    header .bottom-header .navbar-default {
        flex-wrap: wrap;
    }

    header .navbar-header {
        flex: 0 0 100%;
    }

    header .navbar-navigation {
        flex: 0 0 100%;
    }

    .breadcrumb {
        margin-#{$left}: 0;
    }

    .navbar-toggler {
        margin-top: 17px;
    }

    .affix .navbar-toggler {
        margin-top: 9px;
    }

    body header .bottom-header .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 4px 11px;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu>li>a {
        font-size: 14px;
        line-height: 31px;
        padding: 4px 11px;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu>li>a,
    .navbar .navbar-nav li .dropdown-menu>li>a,
    header.affix .container .navbar .navbar-nav li .dropdown-menu > li > a,
    header.affix .container .navbar .navbar-nav li a {
        font-size: 14px;
        line-height: 31px;
        padding: 4px 11px;
    }

    .dropdown .dropdown-menu, .dropdown .dropdown-menu li.dropdown .dropdown-menu {
        padding-#{$left}: 15px;
    }

    body header .bottom-header .navbar-default .navbar-nav>li .dropdown-menu {
        border: 0;
        position: relative;
        float: none;
    }

    .dropdown .dropdown-menu li.dropdown .dropdown-menu, header .navbar-nav.pull-right>li>.dropdown-menu {
        background-color: transparent;
    }

    a[data-toggle]::after {
        display: inline-block;
    }
    .select-wrapper ul.top_buttons li {
        float: none;
    }
}

@media (max-width: 575px){
    header .bottom-header .navbar-default .navbar-brand {
        padding: 18px 0 11px 0;
    }

    .breadcrumb-column .breadcrumb {
        display: none;
    }
}

@media (max-width: 782px){
    body.logged-in.admin-bar header {
        margin-top: 30px;
    }
}

@media(max-width: 769px){
    .woocommerce form.login, .woocommerce form.register {
      width: 100%;
    }
}
