/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.pi-custom-button {
    width: 100%;
    display: block !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
    cursor: pointer;
    padding:15px;
}

.pi-thumbnail img {
    max-width: 60px !important;
}

.pi-quantity {
    max-width: 70px;
    text-align: center;
}

#pi-loading {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/loading.svg) rgba(0, 0, 0, 0.2) no-repeat center center;
}

.pi-attribute-label {
    text-transform: capitalize;
}

.pi-row {
    display: block;
    padding: 10px 0;
}

.pi-row-flex {
    display: flex;
    padding: 10px 0;
}

.pi-col-12 {
    width: 100%;
    position: relative;
}

.pi-col-4 {
    width: 33%;
    position: relative;
}

#pi-eqw-enquiry-form .pi-form-control {
    padding: 10px !important;
    width: 100% !important;
    display: block;
    border: 1px solid #ccc;
    box-sizing:border-box !important;
}

.pi-btn {
    padding: 10px 20px;
    background: #ee6443;
    color: #fff;
    border: 0px;
    cursor: pointer;
}

#pi-eqw-cart {
    position: fixed;
    z-index: 100000000;
    width: 40px;
    height: 40px;
}

#pi-eqw-cart.bottom-right {
    bottom: 20px;
    right: 20px;
}

#pi-eqw-cart.bottom-left {
    bottom: 20px;
    left: 20px;
}

#pi-eqw-cart.top-left {
    top: 20px;
    left: 20px;
}

#pi-eqw-cart.top-right {
    top: 20px;
    right: 20px;
}

#pi-eqw-cart .pi-count {
    position: absolute;
    top: -6px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
}

#pi-eqw-cart.pi_icon_relative {
    position: relative;
    display: inline-block;
    bottom: auto;
    right: auto;
}

#pi_tandc-error {
    position: absolute;
    right: 0;
}

label.error {
    background-color: #e49696 !important;
    color: #fff !important;
    padding: 5px 10px;
}

#pi-eqw-enquiry-form {
    clear: both;
}

.button.add-to-enquiry-loop {
    margin: auto;
    max-width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.pi-enquiry-on-out-of-stock {
    display: none !important;
}

.pi-enquiry-on-out-of-stock.pi-show-enq {
    display: block !important;
}

.add-to-enquiry.added {
    opacity: 1 !important;
}

.pi-enquiry-list-table td {
    padding: 15px 15px !important;
}

.pisol-eqw-cart-in-popup {
    background: #fff;
    width: 70%;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
    position: relative;
    border-radius:6px;
}

span.eqw-popup-title {
    background: #F00;
    display: block;
    padding: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: #fff;
    border-radius:6px 6px 0px 0px;
}

.mfp-close-btn-in .mfp-close{
    color:#fff !important
}

.pisol-eqw-cart-in-popup form {
    margin-bottom: 0px;
}

.pisol-eqw-cart-in-popup .woocommerce-notices-wrapper {
    margin-top: 10px;
}

.pisol-eqw-cart-in-popup .woocommerce-error,
.pisol-eqw-cart-in-popup .woocommerce-message {
    margin-bottom: 0px;
}

.pisol-eqw-cart-in-popup .woocommerce-error ul,
.pisol-eqw-cart-in-popup .woocommerce-error ul li {
    margin: 0px;
}

.pisol-eqw-cart-in-popup .shop_table {
    margin: 10px auto;
}

.pi-custom-button.loading {
    opacity: 0.5;
}

#pi-enquiry-container .woocommerce-error ul{
    margin-top:0px;
    margin-bottom:0px;
}

@media only screen and (max-width: 768px) {

    .woocommerce table.shop_table_responsive thead,
    .woocommerce-page table.shop_table_responsive thead {
        display: none
    }

    .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child,
    .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
        border-top: 0
    }

    .woocommerce table.shop_table_responsive tbody th,
    .woocommerce-page table.shop_table_responsive tbody th {
        display: none
    }

    .woocommerce table.shop_table_responsive tr,
    .woocommerce-page table.shop_table_responsive tr {
        display: block
    }

    .woocommerce table.shop_table_responsive tr td,
    .woocommerce-page table.shop_table_responsive tr td {
        display: block;
        text-align: right !important
    }

    .woocommerce table.shop_table_responsive tr td.order-actions,
    .woocommerce-page table.shop_table_responsive tr td.order-actions {
        text-align: left !important
    }

    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left
    }

    .woocommerce table.shop_table_responsive tr td.product-thumbnail::before {
        content: "" !important;
    }

    .woocommerce table.shop_table_responsive tr td.actions::before,
    .woocommerce table.shop_table_responsive tr td.product-remove::before,
    .woocommerce-page table.shop_table_responsive tr td.actions::before,
    .woocommerce-page table.shop_table_responsive tr td.product-remove::before {
        display: none
    }

    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background-color: rgba(0, 0, 0, .025)
    }

    .pisol-eqw-cart-in-popup {
        width: 90%;
    }

}

/**
To hide the add to cart button from the variable product page
*/
/*
 .single_variation_wrap, .woocommerce-variation-add-to-cart.variations_button{
     display:none;
 }
 */

.pi-radio-group-label {
    margin-bottom: 20px;
}

.pi-eqw-qty-container {
    display: flex;
    align-items: center;
}

.pi-eqw-qty-container .quantity {
    width: 90px;
}

.pi-eqw-qty-container .pi-custom-button {
    margin-left: 10px;
    margin-right: 10px;
}

.pi-eqw-qty-container.pi-enquiry-on-out-of-stock.pi-show-enq {
    display: flex !important;
}

.pisol-eqw-popup-msg-container {
    width: 600px;
    margin: auto;
    max-width: 100%;
    background: #fff;
    padding: 15px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.product-quantity{
    width:120px;
}

.product-remove{
    text-align:center;
    width: 40px;
}

.eqw-content-position-right, .eqw-content-position-left{
    width:95% !important;
    max-width:95% !important;
}

#pi-enquiry-container.eqw-content-position-right, #pi-enquiry-container.eqw-content-position-left{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    align-items: flex-start;
}

#pi-enquiry-container.eqw-content-position-right .shop_table, #pi-enquiry-container.eqw-content-position-left .shop_table{
    margin-top:0px !important
}

#pi-enquiry-container.eqw-content-position-right .shop_table{
    grid-column: 2/3;
}

#pi-enquiry-container.eqw-content-position-right #pi-eqw-enquiry-form{
    grid-row: 1;
}

@media only screen and (max-width: 968px) {
    #pi-enquiry-container.eqw-content-position-right, #pi-enquiry-container.eqw-content-position-left{
        display: block;
    }
}

/** mini cart */
#pi-eqw-mini-cart{
    display:none;
    width:400px;
    position: fixed;
    background:#fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius:6px;
    overflow:hidden;
    z-index:1000000000;
    font-size:18px;
}

#pi-eqw-mini-cart.bottom-right{
    bottom:20px;
    right:20px;
}

#pi-eqw-mini-cart.bottom-left{
    bottom:20px;
    left:20px;
}

#pi-eqw-mini-cart.top-left{
    top:20px;
    left:20px;
}

#pi-eqw-mini-cart.top-right{
    top:20px;
    right:20px;
}

#pi-eqw-mini-cart header{
    padding:10px;
    background:#eee;
}

#pi-eqw-mini-cart content{
    padding:10px;
}

.pi-cart-body {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.pi-mini-cart-item{
    display:grid;
    grid-template-columns: 60px 2fr 20px;
    grid-gap:20px;
    margin-bottom:20px;
    align-items:center
}

.pi-mini-cart-item .thumbnail img{
    width:60px;
}

.pi-mini-cart-item .name-qty{
    margin-bottom:10px;
}

.pi-mini-cart-item .remove{
    width:20px;
}

.close-mini-cart{
    cursor:pointer;
    float:right;
    margin-right:10px;
    font-size:22px;
}

#pi-eqw-mini-cart content{
    position:relative;
}

#pi-eqw-mini-cart content.processing:after{
    content:"";
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background: rgba(200,200,200,0.5);
}

#pi-eqw-mini-cart footer{
    text-align:center;
    padding:10px;
}

#pi-eqw-mini-cart footer .button{
    padding:10px 20px;
}

.pi-remove-product{
    text-decoration: none;
}

@media(max-width:768px){
    #pi-eqw-mini-cart{
        width:100%;
        left:0px;
        bottom:0px;
    }
}

/** New cart table css design so we can avoid conflicts with themes */
.enquiry-cart-content-table{
    width:100%;
    border-spacing:0 15px;
    border: 0px !important;
    border: none !important;
    border-collapse: collapse !important; 
    margin-top:10px;
    margin-bottom:20px;
}

.enquiry-cart-content-table td{
    border:none !important;
    border-bottom:1px solid #ccc !important;
}

.enquiry-cart-content-table th{
    text-align:center;
    padding:10px 0px;
    background-color:#eee;
    border:0 !important;
}

.enquiry-cart-content-table td{
    text-align:center;
}

.enquiry-cart-content-table td textarea{
    padding:10px;
    width:100%;
    resize:none;
    box-sizing: border-box;
    border-radius: 4px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: box-shadow 0.2s ease-in-out;
    height:auto;
}

.enquiry-cart-content-table td textarea:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-color: #ff5722; /* optional highlight */
    outline: none;
}

.enquiry-cart-content-table .pi-eqw-product-thumb{
    margin:auto;
    max-width:100%;
    height:auto;
}

.enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-name a, .pi-remove-product{
    text-decoration:none;
}

.enquiry-cart-content-table .woocommerce-cart-form__cart-item td{
    padding:10px;
}


@media(max-width:768px){

    .enquiry-cart-content-table thead{
        display:none;
    }

    .enquiry-cart-content-table .woocommerce-cart-form__cart-item{
        display:flex;
        flex-wrap:wrap;
    }

    .enquiry-cart-content-table .woocommerce-cart-form__cart-item td{
        display:block;
        width:100%;
    }

   .enquiry-cart-content-table .woocommerce-cart-form__cart-item td:not(.product-remove):not(.product-thumbnail):before {
    content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
    }

    .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-remove{
        width:50%;
        text-align:left;
    }
    
    .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-thumbnail{
        width:50%;
    }
    
    .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-thumbnail img{
        margin-right:0;
    }

    .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-name,  .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-price, .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-quantity{
        text-align:right;
    }

    .enquiry-cart-content-table .woocommerce-cart-form__cart-item td.product-quantity input{
        display:inline-block;
        width:100px !important;
    }
}
/** end of cart table design */

#refresh-captcha{
    cursor:pointer;
    display:inline-block;
    margin-left:10px;
    width:30px;
    height:30px;
}

.captcha-image-container{
    display:flex;
    align-items:center;
}

.library-error{
    display: block;
    padding:10px;
    background:#f00;
    color:#fff;
    border-radius: 10px;
}

#captcha-image{
    border:1px solid #ccc;
    margin-left:10px;
}

.added-to-enq-cart:before{
    content:"\2713";
    color:inherit;
    margin-right:10px;
}

.pisol-submit-cart-as-enquiry-wrapper{
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;
}

.pisol-submit-cart-as-enquiry{
    display:block;
    text-align:center;
}