/* ==========================================================================
   1. Global Brand Variables
   ========================================================================== */
:root {
  --woocommerce: #720eec;
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-primary: #720eec;
  --wc-form-border-radius: 4px;
}

/* ==========================================================================
   2. Structural Layout (Columns & Grids)
   ========================================================================== */

/* The 'Col2-Set' is used for side-by-side Billing and Shipping addresses */
.woocommerce .col2-set,
.woocommerce-page .col2-set {
  width: 100%;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%; /* Creates a standard two-column desktop view */
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}

/* Clearfix to prevent container collapse when using floats */
.woocommerce .col2-set::after,
.woocommerce-page .col2-set::after {
  content: " ";
  display: table;
  clear: both;
}

/* ==========================================================================
   3. Product Grids (The Shop Page)
   ========================================================================== */
.woocommerce ul.products {
  clear: both;
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
}

.woocommerce ul.products li.product {
  float: left;
  margin: 0 3.8% 2.992em 0;
  padding: 0;
  position: relative;
  width: 22.05%; /* Default 4-column layout */
}

/* The last product in a row needs to clear the margin */
.woocommerce ul.products li.last,
.woocommerce-page ul.products li.last {
  margin-right: 0;
}

/* ==========================================================================
   4. UI Components (Tabs, Pagination, Alerts)
   ========================================================================== */

/* Notices (Errors/Messages) */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  border-top: 3px solid #a46497;
}

/* Buttons inside notices (e.g., 'View Cart') */
.woocommerce .woocommerce-message .button {
  float: right;
}

/* Pagination */
.woocommerce nav.woocommerce-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border: 1px solid #d3ced2;
}

/* ==========================================================================
   5. Star Ratings
   ========================================================================== */
.woocommerce .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star; /* Custom WC Icon Font */
}

.woocommerce .star-rating::before {
  content: "\s\s\s\s\s"; /* Empty stars */
  color: #d3ced2;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
