/* --- 1. Image Alignments & Borders --- */
.entry-content img, 
.page-content img {
    border: 1px solid #000;
    margin: 0 0 1.5em 0;
}

/* Floats for wrapping text around images */
.alignleft, img.alignleft {
    display: inline;
    float: left;
    margin-right: 33px;
    margin-bottom: 10px;
}

.alignright, img.alignright {
    display: inline;
    float: right;
    margin-left: 33px;
    margin-bottom: 10px;
}

.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --- 2. Captions & Sticky Posts --- */
.wp-caption {
    text-align: center;
    margin-bottom: 1.5em;
}

.wp-caption img {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.sticky { 
    /* Style for featured/pinned posts */
}

/* --- 3. WordPress Calendar Widget --- */
#wp-calendar {
    width: 100%;
}

#wp-calendar th {
    font-style: normal;
    text-transform: capitalize;
}

#wp-calendar #today {
    color: #fff;
    background-color: #c7081b; /* Highlight for the current day */
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

#wp-calendar td#prev { text-align: left; }
#wp-calendar td#next { text-align: right; }
